.video-list-home{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 2rem;

  .video-container{
    height: 8rem;
    border-radius: 8px;
    img{
      width: 100%;
    }

  }

}

